.flags {
    background: blue;
    padding-bottom: 50px;
    border: 1px solid gold;
    overflow: hidden;
}
._back_ {
    background: url("Texturelabs_Wood_189S.jpg");
    background-size: 100% 100%;
    color: black;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    position: relative;
    top: 40px;
    font-size: 30px;
    transition: 0.5s;
}
._wire_ {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 100px;
    background: black;
    mask-image: url(#wire_mask);
    mask-size: 100% 100%;
}
._back_:hover {
    transform: perspective(1000px) rotateY(0) !important;
    box-shadow: 0px 0px 0px black !important;
}